.footer {
    &_wrapper {
        background-color: $color_footer_background;
        text-align      : center;
        padding-top     : 30px;
        padding-bottom  : 30px;
        margin-top      : 50px;

        & input {
            height: 23px;
            border: 0;
            width : 260px;
        }

        &_title {
            font-weight: 700;
            font-size  : 25px;
        }



    }

    &_derechos {
        text-align: center;
    }




}